#clicker {
    width: 100px;
    height: 100px;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
    font-family: serif;
    background-color: #e8e8e8;
}

#clicker:active {
    width: 90px;
    height: 90px;
    margin-top: 10px;
    background: #e8e8e8;
}

#score {
    font-size: 40px;
    color: #000000;
    text-align: center;
    padding-bottom: 20px;
    font-weight: bold;
}

body {
    background-color: #FFFFFF;
    display: grid;
    justify-content: center;
    align-items: center;
    height: 100dvh;
}