#clicker {
    width: 100px;
    height: 100px;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
    font-family: serif;
    background-color: #e8e8e8;
}

#clicker:active {
    width: 90px;
    height: 90px;
    margin: 5px;
    background: #e8e8e8;
}

#score {
    font-size: 40px;
    color: #000000;
    padding-bottom: 20px;
    font-weight: bold;
}

body {
    background-color: #FFFFFF;
    display: grid;
    grid-template-columns: 1fr 400px;
}

.clicker-container {
    padding: 20px;
}

.upgrades-container {
    height: 100dvh;
    padding: 20px;
}

#upgrade-auto, #upgrade-clicker {
    height: 100px;
    font-size: 20px;
    background: #e8e8e8;
    margin-bottom: 10px;
    padding: 20px;
    width: 100%;
    border: none;
    cursor: pointer;
    color: gray;
    font-family: serif;
}

p {
    margin: 0;
}