#clicker {
    width: 100px;
    height: 100px;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
}

#clicker:active {
    width: 90px;
    height: 90px;
}

#score {
    font-size: 40px;
    font-family: sans-serif;
    color: #000000;
    text-align: center;
    padding-bottom: 20px;
}

body {
    background-color: #FFFFFF;
    display: grid;
    justify-content: center;
    align-items: center;
    height: 100dvh;
}